<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Git branch merge</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="my_app">
      <!-- Header section -->
      <header>
        <h1>The most famous cities of each country</h1>
      </header>

      <!-- Main section -->
      <main>
        <!-- italy cities -->
        <section>
          <h3>Italian cities</h3>

          <ul>
            <!-- v-for every country in the italy cities array -->
            <li v-for="city in cities" v-if="city.country === 'Italy'">
              {{ city.name }}
              <img :src="city.picture" :alt="city.name" />
            </li>
          </ul>
        </section>

        <!-- usa cities -->
        <section>
          <h3>USA cities</h3>

          <ul>
            <!-- li v-for every country in the usa cities array -->
            <li v-for="city in cities" v-if="city.country === 'United States'">
              {{ city.name }}
              <img :src="city.picture" :alt="city.name" />
            </li>
          </ul>
        </section>
      </main>

      <!-- Footer section -->
      <footer>Powered by</footer>
    </div>
    <script src="script.js"></script>
  </body>
</html>
